/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #61bbe1;
   color: #090f0f;
}

/* Profile Picture */
.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;   /* makes it circular */
  object-fit: cover;    /* keeps face centered */
  margin-bottom: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Navbar */
header {
  background: #222;
  color: #fff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
.logo {
  font-size: 1.5rem;
}

/* Hero */
#hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
   color: #090f0f;
  text-align: center;
}
#hero h1 span {
   color: #090f0f;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(193, 176, 95);
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

/* Sections */
section {
  padding: 40px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #0e1414;
}


/* Skills */
.skills-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.skills-list li {
 
  color: #090f0f;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Projects */
.project-card {
  background: #fff;
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-radius: 8px;
  background-color: rgb(65, 138, 172);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.project-card a {
  display: inline-block;
  background: rgb(193, 176, 95);
  margin-top: 10px;
  color: #090f0f;
  text-decoration: none;
}

/* Footer */
footer {
  
  color: #fff;
  padding: 10px;
  text-align: center;
}
