*{
    padding: 0%;
    margin: 0%;
}

.main{
    display: flex;
    text-align: center;
    align-items: center;
    height:50px;
    background-color: blue;
    color: white;
}
.main .sec1{
    display: flex;
    justify-content: space-around;
    width:300px;
}
.main .sec2 ul{
    display: flex;
    justify-content: space-around;
    width:1000px;
    list-style-type: none;
    align-items: center;
    color: white;
}
a{
    color: white;
}
.img {
  width: 250px;   
  height: auto;       
  display: block;   
  border-radius: 30%;
}
.image .sec3 .img{
    padding: 20px;
    margin-left:300px;
}
.image .sec3 .name
{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.image .sec3 .contact
{
    text-align: center;
    font-size: 18px;
}
.image .sec3 .Emailid{
    text-align: center;
    font-size: 18px;
}
.image .sec3 .github{
    text-align: center;
    font-size: 18px;
}
.image .sec3 .education
{
    text-align: center;
    font-size: 18px;
}

.contact-info, .education, .skills {
  margin: 10px auto;
  width: 60%;           /* keeps it centered */
  font-size: 18px;
  line-height: 1.6;  
  text-align: center;  
}
ul{
    padding-left: 40px;
    list-style-type: none;
}
h3 {
  text-align: center;
  margin-top: 20px;
}
table {
  margin: 0 auto;
  text-align: left;
}
fieldset {
  width: 60%;
  margin: 40px auto;
  padding: 40px 20px 20px 20px;
  border: none;                
  border-radius: 12px;
  background: #f5e5d6;          
  text-align: center;
  position: relative;
}

legend {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #c1d52c;   
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 auto;
  display: table;
}

